{% with flavor="dev" %}
  {% include "inner.j2" %}
{% endwith %}

{% with flavor="uat" %}
  {% include "inner.j2" %}
{% endwith %}

{% with flavor="prod" %}
  {% include "inner.j2" %}
{% endwith %}

{% block} 

